---
layout: home
#paginate: true
#author_profile: true
---

I am currently a Trainee at the European Central Bank. I was previously working
as an Intern at the Deutsche Bundesbank and as a Research Assistant at the Insitute
for Applied Economic Research as well as the Chair of Statistics, Econometrics and
Quantitative Methods at the Univeristy of Tuebingen. My research interests include
Macroeconometrics, Forecasting, and Monetary Policy.

{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
