---
layout: home
#paginate: true
#author_profile: true
---
<span style="color:red">This website has moved to </span> <a href="https://sites.google.com/view/maximilianschroder/home">here</a>.


<br/>
<br/>

I am a 4th year Economics PhD student at BI Norwegian Business school in Oslo, supervised by Dimitris Korobilis (University of Glasgow) and Leif A. Thorsrud (BI). During my PhD, my
research has concentrated on developing methods for monitoring and estimating macroeconomic
risk. 
<br/>
<br/>

In addition, I work in the Monetary Policy Department
at Norges Bank and gained further central bank experience at the ECB and Bundesbank.
<br/>
<br/>

My research interests include Applied Macroeconomics, Time-Series Econometrics, and Machine Learning.

<!-- Added if statement to make only certain category appear. -->


{% for category in site.categories %}
{% if category[0] == "Published Articles" %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    {% endif %}

{% if category[0] == "Working Paper" %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
      {% endif %}
  </ul>
{% endfor %}
