---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}

<H1>Research Assistance</H1>
<H2>Institute for Applied Economic Research</H2>
<ul>
  <li> <a href="http://www.iaw.edu/index.php/-285/ausgaben-im-zusammenhang-mit-den-gefluechteten">Ausgaben im Zusammenhang mit Geflüchteten – Eine Untersuchung der Ausgabenstruktur in acht ausgewählten Kommunen</a> (2018) </li>
</ul>

  </div>
</div>
