---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}

<H1>Research Assistance</H1>
<H4>Institute for Applied Economic Research</H4>
<ul>
  <li> <a href="http://www.iaw.edu/index.php/-285/ausgaben-im-zusammenhang-mit-den-gefluechteten">Ausgaben im Zusammenhang mit Geflüchteten – Eine Untersuchung der Ausgabenstruktur in acht ausgewählten Kommunen, (2018) </a> </li>
  <li> <a href="http://www.iaw.edu/index.php/arbeitsmaerkte-und-soziale-sicherung-kopie/wie-kann-eine-gesamtwirtschaftlich-erfolgreiche-integration-der-fluechtlinge-gelingen">Wie kann eine gesamtwirtschaftlich erfolgreiche Integration der Flüchtlinge gelingen?, (2017) </a> </li>
  <li> <a href="http://www.iaw.edu/tl_files/dokumente/EB_Elterneinbindung_final_mit_Zusammenfassung.pdf">Das Aktivierungspotenzial von Eltern im Prozess der Berufsorientierung  - Möglichkeiten und Grenzen, (2017) </a> </li>
</ul> 
<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </div>
</div>
